{% extends '::baseForm.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/register.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/ui-lightness/jquery-ui-1.10.3.custom.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/jquery.qtip.css') }}" type="text/css"/>
{% endblock %}

{% block leftBar %}
<div id="leftBar">
    <div id="leftWhiteArrow"></div>
    <a id="link1" class="stepLink" href="#">
        <div id="bubble1" class="bubble current">
            <div id="numStep1" class="numbers">1</div>
        </div>
    </a>
    <a id="link2" class="stepLink" href="#">
        <div id="bubble2" class="bubble">
            <div id="numStep2" class="numbers">2</div>
        </div>
    </a>
    <a id="link3" class="stepLink" href="#">
        <div id="bubble3" class="bubble">
            <div id="numStep3" class="numbers">3</div>
        </div>
    </a>
    <a id="link4" class="stepLink" href="#">
        <div id="bubble4" class="bubble">
            <div id="numStep4" class="numbers">4</div>
        </div>
    </a>
</div>
{% endblock %}

{% block content %}
<h1>Éditer le profil</h1>
<div class="line"></div>
<div id="form">
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" id="profileForm">
        {{ form_start(form) }}
        {% if form_errors(form) %}
        <div id="errorBar">{{ form_errors(form) }}</div>
        {% endif %}
        <div id="step1">
            <span class="" id="givennameSpan">
                {% if form_errors(form.givenname) %}
                <div id="errorBar">{{ form_errors(form.givenname) }}</div>
                {% endif %}
                {{ form_widget(form.givenname, {'attr': {'placeholder': 'Prénom'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="familynameSpan">
                {% if form_errors(form.familyname) %}
                <div id="errorBar">{{ form_errors(form.familyname) }}</div>
                {% endif %}
                {{ form_widget(form.familyname, {'attr': {'placeholder': 'Nom de famille'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="birthdateSpan">
                {% if form_errors(form.birthdate) %}
                <div id="errorBar">{{ form_errors(form.birthdate) }}</div>
                {% endif %}
                <label for="birthdate">Date d'anniversaire </label>
                {{ form_widget(form.birthdate, {'attr': {'placeholder': 'YYYY-MM-JJ'} }) }}
                <div class="error"></div>
            </span><br/>
            {{ form_widget(form.gender) }}
            <span class="center" id="genderText">Cliquez sur votre genre:</span>
            <div id="genderSwitch">
                <span class="genderSymbol active" id="maleSymbol"></span>
                <div id="genderBar" class="maleSwitch"><div id="genderButton"></div></div>
                <span class="genderSymbol" id="femaleSymbol"></span>
            </div>
            <span class="" id="TCSpan">
                {% if form_errors(form.TC) %}
                <div id="errorBar">{{ form_errors(form.TC) }}</div>
                {% endif %}
                {{ form_widget(form.TC) }}
            </span>
            <span class="" id="studylevelSpan">
                {% if form_errors(form.studylevel) %}
                <div id="errorBar">{{ form_errors(form.studylevel) }}</div>
                {% endif %}
                {{ form_widget(form.studylevel) }}
            </span><br/>
            <input type="button" class="button nextStep" name="nextStep" value="Étape suivante"/>
        </div>
        <div id="step2">
            <h2>Adresse "permanente" : </h2>
            {% if form_errors(form.streetnumber1) or 
            form_errors(form.street1) or 
            form_errors(form.postcode1) or 
            form_errors(form.city1) %}
            <div id="errorBar">
                {{ form_errors(form.streetnumber1) }}
                {{ form_errors(form.street1) }}
                {{ form_errors(form.postcode1) }}
                {{ form_errors(form.city1) }}
                {{ form_errors(form.addressmore1) }}
            </div>
            {% endif %}
            <span class="streetnumberSpan" id="streetnumber1Span">
                {{ form_widget(form.streetnumber1, {'attr': {'placeholder': 'N°'} }) }}
                <div class="error"></div>
            </span>
            <span class="" id="street1Span">
                {{ form_widget(form.street1, {'attr': {'placeholder': 'Rue'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="postcodeSpan" id="postcode1Span">
                {{ form_widget(form.postcode1, {'attr': {'placeholder': 'Code postal'} }) }}
                <div class="error"></div>
            </span>
            <span class="" id="city1Span">
                {{ form_widget(form.city1, {'attr': {'placeholder': 'Ville'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="addressmore1Span">
                {{ form_widget(form.addressmore1, {'attr': {'placeholder': 'Complément'} }) }}
                <div class="error"></div>
            </span><br/>
            <h2>Adresse pendant les études : </h2>
            {% if form_errors(form.streetnumber2) or 
            form_errors(form.street2) or 
            form_errors(form.postcode2) or 
            form_errors(form.city2) %}
            <div id="errorBar">
                {{ form_errors(form.streetnumber2) }}
                {{ form_errors(form.street2) }}
                {{ form_errors(form.postcode2) }}
                {{ form_errors(form.city2) }}
                {{ form_errors(form.addressmore2) }}
            </div>
            {% endif %}
            <span class="streetnumberSpan" id="streetnumber2Span">
                {{ form_widget(form.streetnumber2, {'attr': {'placeholder': 'N°'} }) }}
                <div class="error"></div>
            </span>
            <span class="" id="street2Span">
                {{ form_widget(form.street2, {'attr': {'placeholder': 'Rue'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="postcodeSpan" id="postcode2Span">
                {{ form_widget(form.postcode2, {'attr': {'placeholder': 'Code postal', 'value': '60200'} }) }}
                <div class="error"></div>
            </span>
            <span class="" id="city2Span">
                {{ form_widget(form.city2, {'attr': {'placeholder': 'Ville', 'value': 'Compiègne'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="addressmore2Span">
                {{ form_widget(form.addressmore2, {'attr': {'placeholder': 'Complément'} }) }}
                <div class="error"></div>
            </span><br/>
            <input type="button" class="button nextStep" name="nextStep" value="Étape suivante"/>
        </div>
        <div id="step3">
            <span class="" id="phone1Span">
                {% if form_errors(form.phone1) %}
                <div id="errorBar">{{ form_errors(form.phone1) }}</div>
                {% endif %}
                {{ form_widget(form.phone1, {'attr': {'placeholder': 'Téléphone fixe (adresse permanente)'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="phone2Span">
                {% if form_errors(form.phone2) %}
                <div id="errorBar">{{ form_errors(form.phone2) }}</div>
                {% endif %}
                {{ form_widget(form.phone2, {'attr': {'placeholder': 'Téléphone fixe (études)'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="cellphoneSpan">
                {% if form_errors(form.cellphone) %}
                <div id="errorBar">{{ form_errors(form.cellphone) }}</div>
                {% endif %}
                {{ form_widget(form.cellphone, {'attr': {'placeholder': 'Téléphone portable'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="emailSpan">
                {% if form_errors(form.emailoptional) %}
                <div id="errorBar">{{ form_errors(form.emailoptional) }}</div>
                {% endif %}
                {{ form_widget(form.emailoptional, {'attr': {'placeholder': 'Adresse email (hors UTC)'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="facebookSpan">
                {% if form_errors(form.facebook) %}
                <div id="errorBar">{{ form_errors(form.facebook) }}</div>
                {% endif %}
                {{ form_widget(form.facebook, {'attr': {'placeholder': 'URL de votre profil Facebook'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="twitterSpan">
                {% if form_errors(form.twitter) %}
                <div id="errorBar">{{ form_errors(form.twitter) }}</div>
                {% endif %}
                {{ form_widget(form.twitter, {'attr': {'placeholder': 'URL de votre page Twitter'} }) }}
                <div class="error"></div>
            </span><br/>
            <input type="button" class="button nextStep" name="nextStep" value="Étape suivante"/>
        </div>
        <div id="step4">
            <h2>TN05 : </h2>
            {% if form_errors(form.tn05_job) or form_errors(form.tn05_job) %}
            <div id="errorBar">
                {{ form_errors(form.tn05_job) }}
                {{ form_errors(form.tn05_place) }}
            </div>
            {% endif %}
            <span class="" id="tn05_jobSpan">
                {{ form_errors(form.tn05_job) }}
                {{ form_widget(form.tn05_job, {'attr': {'placeholder': 'Position occupée'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="tn05_placeSpan">
                {{ form_errors(form.tn05_place) }}
                {{ form_widget(form.tn05_place, {'attr': {'placeholder': 'Entreprise'} }) }}
                <div class="error"></div>
            </span><br/>
            <h2>TN07 : </h2>
            {% if form_errors(form.tn07_job) or form_errors(form.tn07_place) %}
            <div id="errorBar">
                {{ form_errors(form.tn07_job) }}
                {{ form_errors(form.tn07_place) }}
            </div>
            {% endif %}
            <span class="" id="tn07_jobSpan">
                {{ form_errors(form.tn07_job) }}
                {{ form_widget(form.tn07_job, {'attr': {'placeholder': 'Position occupée'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="tn07_placeSpan">
                {{ form_errors(form.tn07_place) }}
                {{ form_widget(form.tn07_place, {'attr': {'placeholder': 'Entreprise'} }) }}
                <div class="error"></div>
            </span><br/>
            <h2>TN09 : </h2>
            {% if form_errors(form.tn09_job) or form_errors(form.tn09_place) %}
            <div id="errorBar">
                {{ form_errors(form.tn09_job) }}
                {{ form_errors(form.tn09_place) }}
            </div>
            {% endif %}
            <span class="" id="tn09_jobSpan">
                {{ form_errors(form.tn09_job) }}
                {{ form_widget(form.tn09_job, {'attr': {'placeholder': 'Position occupée'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="tn09_placeSpan">
                {{ form_errors(form.tn09_place) }}
                {{ form_widget(form.tn09_place, {'attr': {'placeholder': 'Entreprise'} }) }}
                <div class="error"></div>
            </span><br/>
            <h2>TN10 : </h2>
            {% if form_errors(form.tn10_job) or form_errors(form.tn10_place) %}
            <div id="errorBar">
                {{ form_errors(form.tn10_job) }}
                {{ form_errors(form.tn10_place) }}
            </div>
            {% endif %}
            <span class="" id="tn10_jobSpan">
                {{ form_errors(form.tn10_job) }}
                {{ form_widget(form.tn10_job, {'attr': {'placeholder': 'Position occupée'} }) }}
                <div class="error"></div>
            </span><br/>
            <span class="" id="tn10_placeSpan">
                {{ form_errors(form.tn10_place) }}
                {{ form_widget(form.tn10_place, {'attr': {'placeholder': 'Entreprise'} }) }}
                <div class="error"></div>
            </span><br/>
            <input type="submit" class="button submit" name="submit" value="Valider"/>
        </div>
        {{ form_end(form) }}
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/bestyearuser/js/jquery-ui-1.10.3.custom.js') }}"></script>
<script src="{{ asset('bundles/bestyearuser/js/jquery.ui.datepicker-fr.js') }}"></script>
<script src="{{ asset('bundles/bestyearuser/js/jquery.qtip.js') }}"></script>
<script src="{{ asset('bundles/bestyearuser/js/formHandler.js') }}"></script>
<script src="{{ asset('bundles/bestyearuser/js/editProfile.js') }}"></script>
<script src="{{ asset('bundles/bestyearuser/js/gender.js') }}"></script>
{% endblock %}