{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/show.css') }}" type="text/css" />
{% endblock %}

{% block topBar %}
    {{ parent() }}
{% endblock %}

{% block leftBar %}
    <a href="{{ path('bestyear_main_homepage') }}">
        <div id="left1" class="leftButton homeLeft">
            <div id="homeIcon"></div>
        </div>
    </a>
    <div id="left2" class="leftButton profileLeft" >
        <div id="userLeftIcon"></div>
    </div>
    <a href="#list">
        <div id="left3" class="leftButton listLeft">
            <div id="listIcon"></div>
        </div>
    </a>
    <a href="#user">
        <div id="left4" class="leftButton userLeft">
            <div id="searchUserIcon"></div>
        </div>
    </a>
{% endblock %}

{% block content %}
    <div id="div2" class="profile mainDiv">
        <!--img src="{{ asset('bundles/bestyearmain/images/user.jpg') }}" id="userPicture" class="male" alt="{{ user.givenname }} {{ user.familyname }}"/>-->
        <div id="userNoPicture" class="male"><div id="userNoPictureIcon"></div></div>
        <div id="identity">
            <span id="name">{{ user.givenname }} {{ user.familyname }}</span><br/>
            <span id="birthdate">{{ user.birthdate|date("d/m/Y") }} ({{ age }} ans)</span><br/>
            <span id="level">{{ user.TC }}{{ user.studylevel }}</span>
        </div>
        <div id="socialNetworks">
            {% if user.facebook %}
                <a href="{{ user.facebook }}">
                    <div id="facebook" class="socialBubble">
                        <div id="facebookIcon"></div>
                    </div>
                </a>
            {% endif %}
            {% if user.twitter %}
                <a href="{{ user.twitter }}">
                    <div id="twitter" class="socialBubble">
                        <div id="twitterIcon"></div>
                    </div>
                </a>
            {% endif %}
        </div>
        <div id="details">
            {% set column = 0 %}
            {% set rowclass = "rightColumn" %}
            {% if phones|length > 0 %}
                {% if column == 1 %} 
                    {% set rowclass = "rightColumn" %}
                {% else %}
                    {% set rowclass = "leftColumn" %}
                {% endif %}
                <div class="row {{ rowclass }}">
                    <div id="couronne{{ phones|length }}" class="couronne">
                        <div id="phoneBigIcon"></div>
                    </div>
                    <div class="line">
                        {% set num = 1 %}
                        {% for icon,phoneNum in phones %}
                            <div class="line{{ phones|length }}-{{ num }}">
                                <div class="{{ icon }}Icon"></div>
                                <div class="info">{{ phoneNum }}</div>
                            </div>
                            {% set num = num+1 %}
                        {% endfor %}
                    </div>
                </div>
                {% set column = (column+1)%2 %}
            {% endif %}
            {% if column == 1 %} 
                {% set rowclass = "rightColumn" %}
            {% else %}
                {% set rowclass = "leftColumn" %}
            {% endif %}
            <div class="row {{ rowclass }}">   
                <div id="couronne{{ mails|length }}" class="couronne">
                    <div id="mailBigIcon"></div>
                </div>
                <div class="line">
                        {% set num = 1 %}
                        {% for icon,email in mails %}
                            <div class="line{{ mails|length }}-{{ num }}">
                                <div class="{{ icon }}Icon"></div>
                                <div class="info"><a href="mailto:{{ email }}" target="_blank" class="link">{{ email }}</a></div>
                            </div>
                            {% set num = num+1 %}
                        {% endfor %}
                </div>
                {% set column = (column+1)%2 %}
            </div>
            {% if addresses|length > 0 %}
                {% if column == 1 %} 
                    {% set rowclass = "rightColumn" %}
                {% else %}
                    {% set rowclass = "leftColumn" %}
                {% endif %}
                <div class="row {{ rowclass }}">
                    <div id="couronne{{ addresses|length }}" class="couronne">
                        <div id="compassBigIcon"></div>
                    </div>
                    <div class="line address">
                        {% set num = 1 %}
                        {% for icon,addresse in addresses %}
                            <div class="line{{ addresses|length }}-{{ num }}">
                                <div class="{{ icon }}Icon"></div>
                                <div class="info">{{ addresse.num }} {{ addresse.street }}<br/>{{ addresse.postcode }} {{ addresse.city }}</div>
                            </div>
                            {% set num = num+1 %}
                        {% endfor %}
                    </div>
                </div>
                {% set column = (column+1)%2 %}
            {% endif %}
            {% if user.tn05job != null or user.tn07job != null or user.tn09job != null or user.tn10job != null%}
                <div id="TN">
                    <h2>STAGES</h2>
                    {% if user.tn05job != null %}
                        <h3>TN05</h3>
                        <span class="icon job icon-grey icon-24"></span> {{ user.tn05job }}<br/>
                        <span class="icon pin icon-grey icon-24"></span> {{ user.tn05place }}
                    {% endif %}
                    {% if user.tn07job != null %}
                        <h3>TN07</h3>
                        <span class="icon job icon-grey icon-24"></span> {{ user.tn07job }}<br/>
                        <span class="icon pin icon-grey icon-24"></span> {{ user.tn07place }}
                    {% endif %}
                    {% if user.tn09job != null %}
                        <h3>TN09</h3>
                        <span class="icon job icon-grey icon-24"></span> {{ user.tn09job }}<br/>
                        <span class="icon pin icon-grey icon-24"></span> {{ user.tn09place }}
                    {% endif %}
                    {% if user.tn10job != null %}
                        <h3>TN10</h3>
                        <span class="icon job icon-grey icon-24"></span> {{ user.tn10job }}<br/>
                        <span class="icon pin icon-grey icon-24"></span> {{ user.tn10place }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div id="div3" class="userList">
        <h2>Résultats de la recherche pour "<span id="searchContent"></span>" :</h2>
        <div id="leftColumn">
            <table id="leftTable">
            </table>
        </div>
        <div id="rightColumn">
            <table id="rightTable">
            </table>
        </div>
    </div>


    <div id="div4" class="userProfile profile">
    </div>
{% endblock %}