<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le BestYear{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/common.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/userPane.css') }}" type="text/css"/>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    </head>
    <body>
        <div id="header">
            <a href="{{ path('bestyear_main_homepage') }}" id="home"><div id="logo"></div></a>
            {% block topBar %}
            <div id="searchBar">
                <input type="text" name="searchUser" id="searchUser">
                <span class="icon search icon-30" id="searchIcon"></span>
            </div>
            <div id="myProfile">
                <div id="userName">{{ app.user.givenname }} {{ app.user.familyname }}</div>
                <div id="userLogo"><span class="icon icon-single user icon-white icon-30"></span></div>
            </div>
            <div id="userPane">
                <ul>
                    <a href="{{ path('fos_user_profile_show') }}">
                        <li>
                            <div class="text">
                                <span class="icon user icon-white icon-24"></span>Mon profil
                            </div>
                        </li>
                    </a>
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <li>
                            <div class="text">
                                <span class="icon pencil icon-white icon-24"></span>Éditer mon profil
                            </div>
                        </li>
                    </a>
                    <a href="{{ path('bestyear_change_settings') }}">
                        <li>
                            <div class="text">
                                <span class="icon gear icon-white icon-24"></span>Paramètres
                            </div>
                        </li>
                    </a>
                    <a href="{{ path('bestyear_image') }}">
                        <li>
                            <div class="text">
                                <span class="icon picture icon-white icon-24"></span>Images
                            </div>
                        </li>
                    </a>
                    <a href="{{ path('fos_user_change_password') }}">
                        <li>
                            <div class="text">
                                <span class="icon lock icon-white icon-24"></span>Mot de passe
                            </div>
                        </li>
                    </a>
                    <a href="{{ path('bestyear_delete') }}">
                        <li>
                            <div class="text">
                                <span class="icon delete icon-white icon-24"></span>Supprimer mon profil
                            </div>
                        </li>
                    </a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <li>
                            <div class="text">
                                <span class="icon logout icon-white icon-24"></span>Déconnexion
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
            {% endblock %}
        </div>
        <div id="layout">
            <div id="leftBar">
                <div id="leftWhiteArrow"></div>

                {% block leftBar %}
                <a href="#home">
                    <div id="left1" class="leftButton homeLeft">
                        <span class="icon icon-single home icon-white icon-50"></span>
                    </div>
                </a>
                <a href="#list">
                    <div id="left2" class="leftButton listLeft">
                        <span class="icon icon-single list icon-white icon-50"></span>
                    </div>
                </a>
                <a href="#user">
                    <div id="left3" class="leftButton userLeft">
                        <div id="searchUserIcon"></div>
                    </div>
                </a>
                {% endblock %}

            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            © <a href="http://www.theotimeloiseau.com">Théotime Loiseau</a> - 2014<br/>
        </div>
        <script src="{{ asset('js/userPane.js') }}"></script>
        <script src="{{ asset('js/searchUsers.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
