<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le BestYear{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/common.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/baseForm.css') }}" type="text/css" />
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    </head>
    <body>
        <div id="header">
            <a href="{{ path('bestyear_main_homepage') }}"><div id="logo"></div></a>
        </div>
        <div id="layout">
            {% block leftBar %}{% endblock %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            © <a href="http://www.theotimeloiseau.com">Théotime Loiseau</a> - 2014<br/>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
