<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le BestYear{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/common.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/base.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/userPane.css') }}" type="text/css"/>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    </head>
    <body>
        <div id="header">
            <a href="{{ path('bestyear_main_homepage') }}"><div id="logo"></div></a>
            {% block topBar %}
                <div id="searchBar">
                    <input type="text" name="searchUser" id="searchUser">
                    <span class="icon search icon-30" id="searchIcon"></span>
                </div>
                <div id="myProfile">
                    <div id="userName">{{ app.user.givenname }} {{ app.user.familyname }}</div>
                    <div id="userLogo"></div>
                </div>
                <div id="userPane">
                    <ul>
                        <a href="{{ path('fos_user_profile_show') }}"><li><div id="userIcon"></div><div class="text">Mon profil</div></li></a>
                        <a href="{{ path('fos_user_change_password') }}"><li><div id="gearIcon"></div><div class="text">Mot de passe</div></li></a>
                        <a href="{{ path('fos_user_security_logout') }}"><li><div id="logoutIcon"></div><div class="text">Déconnexion</div></li></a>
                    </ul>
                </div>
            {% endblock %}
        </div>
        <div id="layout">
            <div id="leftBar">
                <div id="leftWhiteArrow"></div>
                
                {% block leftBar %}
                <a href="#home">
                    <div id="homeLeftBar">
                        <div id="homeIcon"></div>
                    </div>
                </a>
                {% endblock %}

            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            © <a href="http://www.theotimeloiseau.com">Théotime Loiseau</a> - 2013<br/>
        </div>
        <script src="{{ asset('js/userPane.js') }}"></script>
        <script src="{{ asset('bundles/bestyearmain/js/searchUsers.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
