{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/indexNotLogged.css') }}" type="text/css"/>
{% endblock %}

{% block topBar %}
    <div id="topLinks">
        <a href="{{ path("fos_user_security_login") }}">Se connecter</a>
        <a href="{{ path("fos_user_registration_register") }}">S'inscrire</a>
    </div>
{% endblock %}

{% block leftBar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="welcome">
    <div id="siteName">Le Bestyear</div><div id="siteDescription">L'annuaire des étudiants de l'UTC.</div>
    <h2>Qu'est-ce que le Bestyear?</h2>
    <p>L'administration de l'UTC dirait "les pages blanches", nous on appelle ça le Bestyear! C'est simple, c'est un annuaire des étudiants de l'UTC. Tu as un binôme de TP qui n'a pas fait sa partie et tu veux le contacter? Tu as pommé le téléphone de ta marraine super sexy? Tu te demandes où peut bien vivre le président du BDE? Tout est là! Chacun peut mettre toute sorte d'informations comme les numéros de téléphone, le compte Facebook, une adresse et même une photo (mais surtout pas celle de ta carté étudiante, déjà que tu te tapes l'affiche à chaque fois que tu vas à la cafet'...). </p>
    <p>Et si tu veux être vraiment cool, tu pourras même souhaiter l'anniversaire de tes potes le jour même puisque grâce au Bestyear, tu as les dates d'anniversaires de tous les inscrits avec un rappel sur la page d'accueil des personnes ayant prit un coup de vieux le jour même. Allez, viens, on est bien bien bien bien bien.</p>
    <h2>Nous rejoindre?</h2>
    <div class="center">
        <a href="{{ path('fos_user_registration_register') }}"><input type="button" class="button" value="Je m'inscris"/></a>
    </div>
    </div>
{% endblock %}