{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/indexLogged.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/listUsers.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/userView.css') }}" type="text/css"/>
{% endblock %}

{% block topBar %}
    {{ parent() }}
{% endblock %}

{% block leftBar %}
    {{ parent() }}
    <a href="#list">
        <div id="listLeftBar">
            <div id="listIcon"></div>
        </div>
    </a>
    <a href="#user">
        <div id="searchUserLeftBar">
            <div id="searchUserIcon"></div>
        </div>
    </a>
{% endblock %}

{% block content %}
    <div id="welcome">
        <h1>Anniversaires</h1>
        <h2>Aujourd'hui:</h2>
        {% if todaysBirthday|length == 0 %}
            Aucun anniversaire aujourd'hui.<br/>
        {% else %}
            Taille : {{ todaysBirthday|length }}<br/>
            {% for u in todaysBirthday %}
            Nom : {{ u.givenname }}<br/>
            {% endfor %}
        {% endif %}
        <h2>Dans les 5 jours:</h2>
        {% if incomingBirthdayUsers|length == 0 %}
            Aucun anniversaire dans les 5 jours à venir.<br/>
        {% else %}
            Taille : {{ incomingBirthdayUsers|length }}<br/>
            {% for u in incomingBirthdayUsers %}
            Nom : {{ u.givenname }}<br/>
            {% endfor %}
        {% endif %}
    </div>
     
    <div id="userList">
        <h2>Résultats de la recherche pour "<span id="searchContent"></span>" :</h2>
        <div id="leftColumn">
            <table id="leftTable">
            </table>
        </div>
        <div id="rightColumn">
            <table id="rightTable">
            </table>
        </div>
    </div>


    <div id="userProfile">
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/bestyearmain/js/transition.js') }}"></script>
{% endblock %}