{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/indexLogged.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/listUsers.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/bestyearmain/css/userView.css') }}" type="text/css"/>
{% endblock %}

{% block topBar %}
    {{ parent() }}
{% endblock %}

{% block leftBar %}
    <a href="#list">
        <div id="listLeftBar">
            <div id="listIcon"></div>
        </div>
    </a>
    <a href="#user">
        <div id="searchUserLeftBar">
            <div id="searchUserIcon"></div>
        </div>
    </a>
{% endblock %}

{% block content %}
    <div id="welcome">
        <h1>Anniversaires</h1>
        Aujourd'hui:<br/>
        Taille : {{ todaysBirthday|length }}<br/>
        {% for u in todaysBirthday %}
        Nom : {{ u.givenname }}<br/>
        {% endfor %}
        
        Sous 5 jours:<br/>
        Taille : {{ incomingBirthdayUsers|length }}<br/>
        {% for u in incomingBirthdayUsers %}
        Nom : {{ u.givenname }}<br/>
        {% endfor %}
    </div>
     
    <div id="userList">
        <h2>Résultats de la recherche pour "<span id="searchContent"></span>" :</h2>
        <div id="leftColumn">
            <table id="leftTable">
            </table>
        </div>
        <div id="rightColumn">
            <table id="rightTable">
            </table>
        </div>
    </div>


    <div id="userProfile">
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/bestyearmain/js/transition.js') }}"></script>
{% endblock %}