{% extends '::baseForm.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/bestyearuser/css/login.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Connexion</h1>
    <div class="line"></div>
    <div id="form">
        <form action="{{ path('fos_user_security_check') }}" method="POST">
            <input type="text" id="username" name="_username" placeholder="Login UTC" value="{{ last_username }}" required="required"/><br/>
            <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required"/><br/>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Se souvenir de moi?</label><br/>
            <input type="submit" id="_submit" name="_submit" class="button" value="Connexion"/>
        </form>
        <div id="links">
            <a href="{{ path('fos_user_change_password') }}">Mot de passe oublié?</a> | <a href="{{ path('fos_user_registration_register') }}">Pas encore inscrit?</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}